<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .box{width: 320px; height: 600px; background: url("../images/bg.jpg") no-repeat; background-size: cover; margin: 30px auto;}
        .top{height: 60px; display: flex; justify-content: space-around; align-items: center;}
        .top button{border: none; width: 100px; height: 36px; border-radius: 5px; color: #fff;}
        .top button:first-child{background-color: orange;}
        .top button:last-child{background-color: orangered;}
        .bottom{width: 96%; height: 70%; margin-top: 15px; background-color: transparent; position: relative; margin-left: 2%;}
        .item{display: flex; flex-direction: column; justify-content: center; align-items: center; position: absolute;}
        span{font-size: 12px;}
    </style>
</head>
<body>

<!--
虚拟DOM和Diff算法是React中非常核心的两个概念，需要对它们有一个很全面的认知。
这对于我们用脚手架开发项目，尤其是企业中前后端分离的项目等有很大帮助。

虚拟DOM：
1）内部执行流程
a)用JavaScript对象结构表示DOM树的结构；然后用这个树结构建一个真正的DOM树，插到文档当中；
b)当状态变更的时候，重新构造一棵新的对象树，然后用新的树和旧的树进行比较，记录两棵树的差异；
c)把记录下来的差异应用到真正的树上去，试图就更新了
2）原理剖析
Virtual DOM本质上就是在JS和DOM之间做了一个缓存。可以类比CPU和硬盘，硬盘读取速度比较慢，所以就会在它们之间加缓存条；
既然DOM运行速度慢，那就在JS和DOM之间加个缓存。JS只操作Virtual DOM，最后再把变更的结果写入DOM


diff算法：
1）如果两棵树的根元素类型不同，React会销毁旧树，创建新树
2）对于类型相同的React DOM元素，React会对比两者的属性是否相同，只更新不同的属性；当处理完这个DOM节点，React就会递归处理子节点。
3）遍历插入元素，如果没有key，React将改变每一个元素，删除重新创建；为了解决这个问题，React提供了一个key属性。当子节点带有key属性，React会通过key来匹配原始树和后来的树

通过绑定key，React就知道带有key '1024'的元素是新的，对于'1025'和'1026'仅仅移动位置即可
-->


<div id="app"></div>

<script src="../js/react.development.js"></script>
<script src="../js/react-dom.development.js"></script>
<script src="../js/babel.min.js"></script>
<script type="text/babel">
    class FlexView extends React.Component {
        constructor(props) {
            super(props);
            this.state = {
                //购物车数组
                shopArr: []
            }
        }

        static defaultProps = {
            dataArr: [
                {
                    'icon': 'f1',
                    'name': '番茄'
                },
                {
                    'icon': 'f2',
                    'name': '苹果'
                },
                {
                    'icon': 'f3',
                    'name': '水蜜桃'
                },
                {
                    'icon': 'f4',
                    'name': '香蕉'
                },
                {
                    'icon': 'f5',
                    'name': '橙'
                },
                {
                    'icon': 'f6',
                    'name': '草莓'
                },
                {
                    'icon': 'f7',
                    'name': '西瓜'
                },
                {
                    'icon': 'f8',
                    'name': '提子'
                },
                {
                    'icon': 'f9',
                    'name': '柠檬'
                }
            ]
        };

        render(){
            return (
                <div className="box">
                    {/*上部分*/}
                    <div className="top">
                        <button onClick={()=>this._addShop()}>add</button>
                        <button onClick={()=>this._removeShop()}>remove</button>
                    </div>

                    {/*下部分*/}
                    <div className="bottom">
                        {this.state.shopArr}
                    </div>

                </div>
            )
        }

        //添加
        _addShop(){
            //定义变量
            const cols = 3, shopW = 100, shopH = 120, width = 320, height = 420;
            //取出数据
            const {dataArr} = this.props;
            //取出小标
            const index = this.state.shopArr.length;
            if(index >= 9){
                alert("买够了");
                return;
            }
            //求出商品的行和列
            const row = Math.floor(index / cols);
            const col = Math.floor(index % cols);
            console.log(row + '  ' + col);
            console.log(dataArr[index].icon);

            //求出当前的盒子的left和top值
            const xSpace = (width - cols * shopW) / (cols - 1);
            const ySpace = (height - cols * shopH) / 2;
            const left = col * (shopW + xSpace);
            const top = row * (shopH + ySpace);

            //创建子组件并装入数组
            const shopView = (
                <div className="item" style={{left, top}} key={index}>
                    <img src={'../images/' + dataArr[index].icon + '.jpg'}
                        style={{width: shopW * 0.8, height: shopH * 0.8}}
                    />
                    <span>{dataArr[index].name}</span>
                </div>
            );
            const tempArr = this.state.shopArr;
            tempArr.push(shopView);
            this.setState({
                shopArr: tempArr
            });
        }

        //删除
        _removeShop(){
            const tempArr = this.state.shopArr;
            if(tempArr.length <= 0){
                alert("购物车已经没有商品了");
                return;
            }
            tempArr.pop();
            this.setState({
                shopArr: tempArr
            });
        }
    }

    ReactDOM.render(
        <FlexView />,
        document.getElementById('app')
    );

</script>

</body>
</html>
