body{background: #fff;}

.btn{display: inline-block; padding: 8px 10px; margin-bottom: 0; font-size: 14px; line-height: 20px; text-align: center; vertical-align: middle; cursor: pointer; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); border-radius: 4px;}
.btn-warning{color: #fff; background-color: orange; border: none;}
.btn-warning:hover{color: #fff; background-color: red;}
.btn:hover{display: block;}
.btn:focus{outline: none;}
.todo-container{width: 600px; margin: 0 auto;}
.todo-container .todo-wrap{padding: 10px; border: 1px solid #ddd; border-radius: 5px;}
.todo-header input{width: 560px; height: 28px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px; padding: 4px 7px; outline: none;}
.todo-header input:focus{outline: none; border-color: rgba(255, 0, 0, 0.8); box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6)}

.todo-main{margin-left: 0px; border: 1px solid #ddd; border-radius: 2px; padding: 0px;}

.todo-empty{height: 40px; line-height: 40px; border: 1px solid #ddd; border-radius: 2px; padding-left: 5px; margin-top: 10px;}

li{list-style: none; height: 36px; line-height: 36px; padding: 0 5px; border-bottom: 1px solid #ddd; display: flex;
    justify-content: space-between; align-items: center; cursor: pointer;}
li label{float: left; cursor: pointer;}
li button.btn{display: none; margin-top: 3px; padding: 3px 10px;}
/*li label li input{vertical-align: middle; margin-right: 6px;}*/
/*li button{float: right; display: none; margin-top: 3px;}*/
li:before{content: initial;}
li:last-child{border-bottom: none;}

.todo-footer{height: 40px; line-height: 40px; padding-left: 6px; margin-top: 5px;}
.todo-footer label{display: inline-block; margin-right: 20px; cursor: pointer;}
.todo-footer label input{position: relative; top: -1px; vertical-align: middle;}
.todo-footer button{float: right; margin-top: 5px;}
